SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed


# 定时同步时间 
# (安装ntpdate: yum -y install ntpdate)
#  时间服务器ntp.api.bz
0 5 * * * root /usr/sbin/ntpdate -u ntp.api.bz



#说明：需要指定执行的用户
#定时文件可以使用外部文件，放在对应的目录下如/etc/cron.d/ 且文件权限必须是644，755会导致定时任务不执行